@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --wrapper: #f9faf8;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-switch label {
  cursor: pointer;
}

.filter-switch-item input:checked + label {
  color: inherit;
}

.filter-switch-item input:not(:checked) + label {
  --bg-opacity: 0;

  box-shadow: none;
}
