@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --wrapper: #f9faf8;
}

#root {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.filter-switch label {
  cursor: pointer;
}

.filter-switch-item input:checked + label {
  color: inherit;
}

.filter-switch-item input:not(:checked) + label {
  --bg-opacity: 0;

  box-shadow: none;
}

textarea {
  max-width: 100%;
  resize: none;
}

.styled-font {
  font-family: "Oleo Script Swash Caps", cursive;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 2px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

img {
  object-position: center;
}
